/* Font Imports */
@font-face {
  font-family: "bone";
  src: url("../media/nasalization-rg.otf") format("opentype");
}

@font-face {
  font-family: "audi";
  src: url("../media/auditype_extendednormal.ttf") format("truetype");
}

:root {
  --primary-color: #9282fb;
  --secondary-color: #613367;
  --accent-color: #b263a6;
  --bg-2-color: #171527;
  --bg-color: #090810;
  --text-color: #e5e4f2;
  --text-secondary-color: #b0b0b0;
  --text-placeholder-color: #6c6c6c;
  --border-color: #2c2c3f;
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --border-radius: 12px;
  /* --blob-1: var(--primary-color);
  --blob-2: var(--accent-color);
  --blob-3: var(--secondary-color); */
}
